<!-- TODO: Create this site on the goatcounter settings page -->
<script data-goatcounter="https://{{ github_org }}-{{ github_repo }}.goatcounter.com/count" async
  src="//gc.zgo.at/count.js"></script>
