gh:
  repo: {{ github_repo }}
  org: {{ github_user }}

links:
  github: "https://github.com/{{ github_user }}/{{ github_repo }}"
  # TODO: Confirm this is the correct URL
  site: "https://{{ github_repo }}.{{ github_user }}.org"
