project:
  # TODO: Change to correct project type if using extensions
  type: website

website:
  # TODO: Set the title of the website
  title: ""
  {% if hosting_provider == "gh-pages" -%}
  site-url: "https://{{ github_user }}.github.io/{{ github_repo }}/"
  {%- elif hosting_provider == "netlify" -%}
  # TODO: Set the Netlify custom domain URL
  site-url: ""
  {%- endif %}
  repo-url: "https://github.com/{{ github_repo_spec }}"
  # TODO: Set favicon
  {% if is_seedcase_website -%}
  favicon: "_extensions/seedcase-project/seedcase-theme/logos/seedcase-logo.svg"
  {%- else -%}
  # favicon: ""
  {%- endif %}
  navbar:
    {% if is_seedcase_website -%}
    logo: "_extensions/seedcase-project/seedcase-theme/logos/seedcase-logo.svg"
    logo-alt: "Seedcase Project logo: Main page"
    {% else -%}
    # TODO: Add logo and logo-alt
    logo: ""
    logo-alt: ""
    {%- endif %}
    pinned: true
    left:
      - text: "Welcome"
        href: index.qmd
    tools:
      - icon: github
        href: "https://github.com/{{ github_repo_spec }}"
        aria-label: "GitHub icon: Source repository"
      {% if is_seedcase_website -%}
      - icon: house
        href: "https://seedcase-project.org"
        aria-label: "House icon: Main website for the Seedcase Project"
      {%- endif %}
  sidebar:
    contents:
      - index.qmd

format:
  {% if is_seedcase_website -%}
  seedcase-theme-html:
    theme:
      - brand
      - custom-styles.scss
  {%- else -%}
  # TODO: Use Quarto extension if available
  html:
    theme:
      # TODO: Choose a different theme if desired
      - litera
      - custom-styles.scss
  {%- endif %}
    # TODO: Uncomment if using the goatcounter website visitor counter
    # include-before-body:
      # - "includes/site-counter.html"

editor:
  markdown:
    wrap: 72
    canonical: true
