gh:
  org: {{ github_user }}
  repo: {{ github_repo }}

# TODO: Add tagline for project
tagline: ""

links:
  github: "https://github.com/{{ github_user }}/{{ github_repo }}"
  # TODO: Add the URL
  site: ""
